includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 0
    paths:
        - app
        - public/index.php
    excludePaths:
        - app/cache/*
        - app/views
        - app/config/config.php
