<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <base href="{str_replace('index.php', '', $_SERVER['SCRIPT_NAME'])}" />

        {include 'links.latte'}

        <title>
            {if isset($page_title)}{_$page_title} -{/if}
            {isset($custom_page_title) ? $custom_page_title.' - '}
            Flight PHP Framework
        </title>

        {include 'opengraph.latte'}
    </head>
    <body class="pb-5">
        <div id="container" class="container shadow pb-5">
            {include 'header.latte'}
            {include 'banner.latte'}

            <main class="p-4">{block content}{/block}</main>

            {include 'footer.latte'}
        </div>

        {include 'scripts.latte'}
    </body>
</html>
