<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mr+Dafoe">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism.min.css" id="prism_link" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic" />
		<link rel="stylesheet" href="/css/style.css">

		<link rel="alternate" hreflang="en" href="{$url}?lang=en" />
		<link rel="alternate" hreflang="fr" href="{$url}?lang=fr" />
		<link rel="alternate" hreflang="es" href="{$url}?lang=es" />
		<link rel="alternate" hreflang="pt" href="{$url}?lang=pt" />
		<link rel="alternate" hreflang="lv" href="{$url}?lang=lv" />
		<link rel="alternate" hreflang="de" href="{$url}?lang=de" />
		<link rel="alternate" hreflang="ru" href="{$url}?lang=ru" />
		<link rel="alternate" hreflang="zh" href="{$url}?lang=zh" />
		<link rel="alternate" hreflang="ja" href="{$url}?lang=ja" />
		<link rel="alternate" hreflang="ko" href="{$url}?lang=ko" />
		<link rel="icon" href="/favicon.png" type="image/png" />
		<title>
			{if isset($page_title)}
			{_$page_title} - 
			{/if}
			{isset($custom_page_title) ? $custom_page_title.' - '}
			FlightPHP</title>
		<!-- HTML Meta Tags -->
		<meta name="description" content="Flight is a fast, simple, extensible framework for PHP. Flight enables you to quickly and easily build RESTful web applications.">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://docs.flightphp.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="FlightPHP - An extensible micro-framework for PHP">
		<meta property="og:description" content="Flight is a fast, simple, extensible framework for PHP. Flight enables you to quickly and easily build RESTful web applications.">
		<meta property="og:image" content="https://opengraph.b-cdn.net/production/documents/ade04545-313f-484b-b7fa-1ac9b7353fdc.png?token=PdAO1XOREJuL0GoaHMKS5iTnTrlcpivus_gxSKrMHAM&height=526&width=1200&expires=33243193906">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="docs.flightphp.com">
		<meta property="twitter:url" content="https://docs.flightphp.com">
		<meta name="twitter:title" content="FlightPHP - An extensible micro-framework for PHP">
		<meta name="twitter:description" content="Flight is a fast, simple, extensible framework for PHP. Flight enables you to quickly and easily build RESTful web applications.">
		<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/documents/ade04545-313f-484b-b7fa-1ac9b7353fdc.png?token=PdAO1XOREJuL0GoaHMKS5iTnTrlcpivus_gxSKrMHAM&height=526&width=1200&expires=33243193906">

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->
	</head>
	<body>
		<div id="container" class="container">
			<header id="header" class="row justify-content-center">
				<div class="title col-12">Flight</div>
				<div class="subtitle col-12">{_'subtitle'}</div>
				<div class="m-2 col-xs-4 col-md-6" id="autocomplete"></div>
				<nav class="navbar navbar-expand-lg navbar-light">
  					<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_navBarFlight" aria-controls="main_navBarFlight" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>Toggle navigation
					</button>
					<div class="collapse navbar-collapse" id="main_navBarFlight">
      					<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto h5" id="nav">
							<li class="nav-item"><a class="nav-link" href="{Flight::getUrl('about')}">{_'about'}</a></li>
							<li class="nav-item"><a class="nav-link" href="{Flight::getUrl('install')}">{_'install'}</a></li>
							<li class="nav-item"><a class="nav-link" href="{Flight::getUrl('learn')}">{_'learn'}</a></li>
							<li class="nav-item"><a class="nav-link" href="{Flight::getUrl('examples')}">{_'examples'}</a></li>
							<li class="nav-item"><a class="nav-link" href="{Flight::getUrl('awesome_plugins')}">{_'awesome_plugins'}</a></li>
							<li class="nav-item"><a class="nav-link" href="https://github.com/flightphp/core" target="_blank">{_'code'}</a></li>
							<li class="nav-item dropdown">
								<button class="btn btn-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)"><i class="bi bi-brightness-high"></i></button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
									<a href="#" class="dropdown-item" data-bs-theme-value="light">
										<i class="bi bi-brightness-high-fill"></i> {_'light'}
									</a>
									<a href="#" class="dropdown-item" data-bs-theme-value="dark">
										<i class="bi bi-moon-fill"></i> {_'dark'}
									</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			<main role="main">
				{block content}{/block}
			</main>
			<footer id="footer">
				<div class="buttons">
					<a class="github-button" href="https://github.com/flightphp/core" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star flightphp/core on GitHub">Star</a>
					<a class="github-button" href="https://github.com/flightphp/core/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork flightphp/core on GitHub">Fork</a>
				</div>
				<p>{_'made_with_love'|noescape}</p>
				<p><a href="/license">MIT {_'license'}</a> - {_'missing_documentation'|noescape}</p>
				<p>
					<small>
						Languages: 
						<a href="{$url}?lang=en">English</a> -
						<a href="{$url}?lang=fr">Français</a> -
						<a href="{$url}?lang=es">Español</a> -
						<a href="{$url}?lang=pt">Português</a> -
						<a href="{$url}?lang=lv">Latviešu</a> -
						<a href="{$url}?lang=de">Deutsch</a> - 
						<a href="{$url}?lang=ru">Русский</a> - 
						<a href="{$url}?lang=zh">中文</a> - 
						<a href="{$url}?lang=ja">日本語</a> - 
						<a href="{$url}?lang=ko">한국어</a>
					</small>
				</p>
			</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/prismjs@1.29.0/components/prism-core.min.js"></script>
		<script src="https://unpkg.com/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3C36SDZ8FE"></script>
		<script n:syntax="off">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3C36SDZ8FE');
		</script>
		<script type="text/javascript" n:syntax="off">
			/*!
			 * Color mode toggler for Bootstrap's docs (https://getbootstrap.com/)
			 * Copyright 2011-2023 The Bootstrap Authors
			 * Licensed under the Creative Commons Attribution 3.0 Unported License.
			 */

			(() => {
				'use strict'

				const getStoredTheme = () => localStorage.getItem('theme')
				const setStoredTheme = theme => localStorage.setItem('theme', theme)

				const getPreferredTheme = () => {
					const storedTheme = getStoredTheme()
					if (storedTheme) {
						return storedTheme
					}

					return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
				}

				const setTheme = theme => {
					document.documentElement.setAttribute('data-bs-theme', theme)
					const prismLink = document.getElementById('prism_link');
					let prismHref = 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/';
					if(theme === 'light') {
						prismLink.setAttribute('href', prismHref + 'prism.min.css')
					} else {
						prismLink.setAttribute('href', prismHref + 'prism-twilight.min.css')
					}
				}

				setTheme(getPreferredTheme())

				// when you click on a data-bs-theme-value set the theme and store it
				window.addEventListener('DOMContentLoaded', () => {
					document.querySelectorAll('[data-bs-theme-value]')
					.forEach(toggle => {
						toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
							setStoredTheme(theme)
							setTheme(theme);
						})
					})
				})
 
				
			})();
		</script>
		<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
		<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.1/dist/algoliasearch-lite.umd.js"></script>
		<script n:syntax="double">
			const algoliasearch = window['algoliasearch'];
			const { autocomplete, getAlgoliaResults } = window['@algolia/autocomplete-js'];

			const searchClient = algoliasearch(
				'ILLJNWA0XY',
				'fdf4f7d49a18e4e00fcc0aab1ce59040'
			);

			autocomplete({
				container: '#autocomplete',
				placeholder: {{_'search_the_docs'}},
				insights: true,
				getSources({ query }) {
					return [
						{
							sourceId: 'searchResults',
							getItems() {
								return getAlgoliaResults({
									searchClient,
									queries: [
										{
											indexName: 'flightphp',
											query,
											params: {
												hitsPerPage: 8,
											},
										},
									],
								});
							},
							templates: {
								item({ item, html }) {
									var value = [];
									for(var lv in item.hierarchy) {
										if(item.hierarchy[lv] && item.hierarchy[lv] !== 'Documentation') {
											value.push(item.hierarchy[lv]);
										}
									}
									return html`<div><a href="${item.url}">${value.join(' - ')}</a></div>`;
								},
							},
						},
					];
				}
			});
		</script>
	</body>
</html>
