<figure class="m-0">
    <img
        class="flight-light-image"
        src="/images/logo-flight.png"
        alt="Flight logo"
        height="30" />
    <img
        class="flight-dark-image"
        src="/images/logo-flight-dark.png"
        alt="Flight logo dark variant"
        height="30" />
</figure>
