{extends 'layout.latte'}

{block content}

<div class="text-center">
	<h1>404 - Page Not Found</h1>

	<h3>Looks like you've hit some turbulance on your Flight!</h3>
	<h5>I'm sure there's a link somewhere to get you back on course.</h5>
</div>

{/block}